In [1]:
import pandas as pd

In [3]:
fruits = pd.DataFrame({'Apple': [10,20,30,40], 'Peach':[5, 15, 25, 35], 'Orange': [1, 2, 3, 4]})

In [4]:
fruits

   Apple  Peach  Orange
0     10      5       1
1     20     15       2
2     30     25       3
3     40     35       4

In [6]:
power = pd.DataFrame({'A': [1,2,3,4], 'B':[1,4,9,16], 'C':[1,8,27,64], 'D':[1,16,81,156]}, index=[1,2,3,4])
power

   A   B   C    D
1  1   1   1    1
2  2   4   8   16
3  3   9  27   81
4  4  16  64  156

In [8]:
pd.DataFrame({'Bob':['I liked it', 'It was bad'], 'Suzie':['It was good', 'I did not like it']}, index = ['Product A', 'Product B'])

                  Bob              Suzie
Product A  I liked it        It was good
Product B  It was bad  I did not like it

## Series:
Flowing is the code block for the panda function **Series**